{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "jsxBracketSameLine": false,
  "trailingComma": "none",
  "useTabs": false,
  "arrowParens": "avoid"
}
